body {
    font-family: Montserrat,sans-serif;
    /* display:none; */
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0px !important;
}
.dataTables_paginate, .dataTables_paginate span {
    display: flex;
    gap: 15px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    border: 1px solid #eee;
    border-radius: 8px 8px 2px 8px !important;
    transition: .42s ease;
    font-weight: 400;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .dataTables_wrapper .dataTables_paginate .paginate_button {
    border: 1px solid #eee;
    border-radius: 8px 8px 2px 8px !important;
    transition: .42s ease;
    font-weight: 400;
}

body .dataTables_wrapper .dataTables_paginate .paginate_button:hover, body .dataTables_wrapper .dataTables_paginate .paginate_button:active {
    color: #fff !important;
    background: #b41712 !important;
    border-color: #b41712;
    font-weight: 400;
}

@media (max-width: 414px) {
    .section-title4 h2 {
        font-size: 1.5rem !important;
        width: 85%;
    }
}

img:not([src]):not([srcset]) {
    visibility: hidden;
}

.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: unset !important;
}

.auction-card1 .auction-img .auction-timer {
    box-shadow: 5px 2px 30px rgb(0 0 0 / 6%);
}

.select2-container--default .select2-selection--single {
    border: 1px solid #eee !important;
    height: 50px !important;
    width: 100% !important;
    padding: 10px 20px !important;
    transition: .4s ease !important;
}

    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        margin-top: 10px !important;
    }

.modal {
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    display: none;
    position: fixed;
    -webkit-transform: translate3d(0,0,1px);
    transform: translate3d(0,0,1px);
    z-index: 1050;
    background-color: rgb(0 0 0 / 71%);
    animation-name: animation-slide;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-direction: alternate-reverse;
}

.modal-backdrop {
    display: none;
}

select:focus-visible {
    outline: none;
}

/*Production update*/
/*Fonts*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif !important;
}

header.style-3 .main-menu .menu-list > li a {
    font-family: 'Montserrat', sans-serif !important;
}

.single-blog-style3 .blog-content h5 a {
    font-family: 'Montserrat', sans-serif !important;
}

.hero-style-three .banner3-content p {
    font-family: 'Montserrat', sans-serif !important;
}

.eg-btn {
    font-family: 'Montserrat', sans-serif !important;
    font-family: saira,sans-serif;
}

/*Fonts end*/

header {
    border-bottom: 1px solid #69696912;
}

    header.style-3 .header-logo img {
        max-width: unset !important;
    }

.section-title4 h2 {
    font-size: 2rem;
}

.single-blog-style3 .blog-content h5 a {
    font-size: 16px;
}

footer.style-3 .footer-top {
    padding: 50px 0;
}

footer.style-3 .footer-item .footer-list li a {
    font-size: 14px;
}

footer.style-3 .footer-item .footer-list li {
    margin-bottom: 10px;
}

footer.style-3 .footer-item .address-list li a {
    font-size: 14px;
}

footer.style-3 .footer-item .footer-list li {
    font-size: 14px;
    font-family: 'Montserrat';
    color: #fff;
}

footer.style-3 .footer-item p {
    font-size: 14px;
    font-weight: 400;
    color: #d2d2d2;
    margin-bottom: 25px;
    font-family: 'Montserrat';
}

.btn--primary3 {
    border-radius: 0.25rem;
}

    .btn--primary3::after {
        border-radius: 0.25rem;
    }

.auction-card3 .auction-timer span.timer-title {
    font-weight: 800 !important;
}

.section-title1 p {
    /*font-weight: 800;*/
    font-family: Montserrat;
}

body div .button[type=submit], body div .button[type=button] {
    border-radius: 0.25rem !important;
}

.ellipsis2 {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    min-height: 40px;
}

.ellipsis3 {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical !important;
    min-height: 68px;
}
.ellipsis4 {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 4 !important;
    -webkit-box-orient: vertical !important;
    min-height: 102px;
}

.ellipsis5 {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 5 !important;
    -webkit-box-orient: vertical !important;
    min-height: 127px;
}

@media (max-width: 414px) {
    .ellipsis4-default {
        overflow: unset !important;
        text-overflow: unset !important;
        display: -webkit-box !important;
        -webkit-line-clamp: unset !important;
        -webkit-box-orient: vertical !important;
        min-height: unset !important;
    }
}
/*Production update*/

.blockchain-div {
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url(https://static.vecteezy.com/system/resources/previews/005/374/848/non_2x/blockchain-technology-modern-icon-block-chain-symbol-or-logo-element-in-thin-line-style-vector.jpg);
    -webkit-box-shadow: 0 0 8px #b41712;
    border: 1px solid #E0E0E0;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #fff;
    padding: 15px;
}
.blockchain-div-mobile {
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: right;
    -webkit-box-shadow: 0 0 8px #b41712;
    border: 1px solid #E0E0E0;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #fff;
    padding: 15px;
    font-size: 14px;
    margin-bottom: 20px;
}

.bscscan-redirect {
    font-style: italic;
    text-transform: none;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.flex-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.blockchain-div-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .blockchain-div {
        display: none;
    }
    .blockchain-div-mobile {
        display: block;
    }
    .blockchain-div {
        background: #fff;
        font-size: 14px;
    }

    .flex-div {
        flex-direction: column;
    }



    .VIBBankNumber {
        order: 1;
    }



    .mobile-flex {
        order: 2;
    }
}

.pswp__bg {
    opacity: 0.8 !important;
}

.bid-form {
    border: 1px solid #E0E0E0 !important;
    padding: 15px !important;
}

.preventCopy {
    user-select: none;
}

@media screen and (max-width: 768px) {
    #realTimeHighestPrice, #highYourPrice {
        font-size: 18px !important;
    }

    #price-bid {
        font-size: 18px !important;
    }

    .timestamp-div {
        padding: 10px !important;
        
    }

    .product-details-right .bid-form .form-title h5 {
        font-size: 16px !important
    }

    .product-details-right .bid-form .form-title p {
        font-size: 14px !important
    }

    .describe-content h4 {
        font-size: 16px !important;
    }

    .check-result-txt {
        font-size: 16px !important;
    }

    .ap-name-title {
        font-size: 18px !important
    }

    .section-ap-detail {
        padding-top: 20px !important;
    }

    .gallery-photo-mobile {
        display: block !important;
    }

    #tableData_length, #tableData_info {
        display: none;
    }

    #tableData_filter, #tableData_paginate {
        text-align: left;
        white-space: nowrap;
    }

    #tableData_wrapper {
        overflow: auto;
        padding-bottom: 15px;
    }

    #QrImage {
        max-width: unset !important;
    }

    #tableData_length, #tableData_filter, #tableData_info, #tableData_paginate {
        font-size: 14px;
    }

    .bid-form, .register-form {
        /*              padding: 0 !important;*/
        box-shadow: unset !important;
    }

    #photo-elements {
        display: none !important;
    }

    .bid-left-form {
        border-right: 0 !important;
        margin-bottom: 10px;
    }

    #auction-status-waiting, #auction-status-bidding {
        flex-flow: column !important;
        overflow: auto;
        padding-bottom: 15px;
        margin-bottom: 20px !important
    }

    .details-tab-btn {
        white-space: nowrap;
        font-size: 14px;
    }
}

#auctionGuide {
    border: 1px solid #E0E0E0;
}

#block-video {
    padding: 0;
}

#QrImage {
    max-width: 300px;
}

#BankNumberInfo {
    font-weight: bold;
}

#copyBankNumber {
    display: none;
}

.qr-hide {
    display: none;
}

.check-result-txt {
    margin-bottom: 0 !important;
    font-family: Montserrat;
    font-size: 18px;
}

.result-link {
    color: #b41712;
    cursor: pointer;
}

#tableData {
    font-family: Montserrat;
    font-size: 14px;
}

.timecount-style {
    font-family: var(--bs-font-sans-serif) !important;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0 !important;
}

.time-description {
    font-family: Montserrat;
    font-size: 12px;
    color: #696969;
    text-transform: uppercase;
}

/* #btnUserHighestPrice {
    display: none;
} */

#flag-top-price {
    display: none;
}

.img-thumb {
    width: 80px !important;
    height: 80px !important;
}

#photos-gallery::-webkit-scrollbar {
    display: none;
}

.mode-bid-gallery {
    flex-flow: column;
    overflow: auto;
    max-height: 600px !important;
    direction: rtl;
    padding-left: 34px;
    padding-right: 0px;
}

.auction-content .ellipsis2 {
    min-height: unset !important
}

.info-ap {
    font-family: 'Inter';
    padding: 15px;
    border: 1px solid #E0E0E0;
    font-size: 17px;
    box-sizing: border-box;
}

.p .strong {
    font-weight: bolder
}

#auction-status-bidding {
    display: none !important;
}

.big-image {
    background-color: rgb(241, 241, 241);
    height: 600px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
}

.product-details-right h3 {
    font-size: 24px;
}

#timestamp {
    margin-bottom: 0 !important;
    text-align: center;
    font-size: 22px;
    font-family: Montserrat;
}

.timestamp-div {
    padding: 15px;
    border: 1px solid #E0E0E0;
    background: white;
    -webkit-box-shadow: 0 0 25px rgb(0 0 0 / 10%);
}

.small-image-list .nav-item img {
    /*            width: 100% !important;
                            height: 90px !important;*/
}

.display-none {
    display: none !important;
}

.display-block {
    display: block !important;
}

/* #link-to-result {
    display: none;
} */

.mode-register-selectimg {
    order: 1;
}

.mode-register-gallery {
    flex-direction: row !important;
    order: 2;
}

.mode-register {
    flex-direction: column !important;
}

.no-margin {
    margin: 0;
}


.left-title-text {
    font-size: 17px;
    /* font-weight: 500; */
    color: #696969;
    font-family: Montserrat;
    text-align: left;
}

.right-info-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    text-align: right;
    color: #b41712;
    font-weight: bold;
}

.register-form {
    border: 1px solid #E0E0E0;
    margin-top: 20px;
    /*box-shadow: 5px 2px 30px rgb(0 0 0 / 6%);*/
    border-radius: 5px;
    background: #fff;
    padding: 15px;
    /* display: none; */
}

.no-tran {
    text-transform: unset;
}

.item-buff:hover {
    background-color: rgb(240, 240, 240)
}

.item-buff:active {
    background-color: white;
}

#photos-gallery::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

#photos-gallery::-webkit-scrollbar-thumb {
    background: #888;
}

/*        #pills-description::-webkit-scrollbar {
                            width: 5px;
                            height: 5px;
                        }

                        #pills-description::-webkit-scrollbar-thumb {
                            background: #888;
                        }*/

.content-ap {
    color: #b41712;
    font-weight: bold;
}

.des-ap {
    font-size: 16px;
    font-weight: 500;
    color: #696969;
    font-family: Montserrat;
    position: relative;
}

.product-details-right .bid-form .form-title p::before, .product-details-right .bid-form .form-title p::after {
    position: unset;
}

#tableData_length, #tableData_filter, #tableData_info, #tableData_paginate {
    font-weight: bold;
    font-family: saira, sans-serif;
}

#tableData tbody tr td:nth-child(1), #tableData thead tr th:nth-child(1) {
    text-align: center;
}

#tableData tbody tr td:nth-child(2), #tableData thead tr th:nth-child(2) {
    text-align: center;
}

#tableData tbody tr td:nth-child(4), #tableData thead tr th:nth-child(4) {
    text-align: center;
    white-space: nowrap
}

#tableData tbody tr td:nth-child(4) {
    font-weight: bold;
}

#tableData tbody tr td:nth-child(5), #tableData thead tr th:nth-child(5) {
    text-align: center;
}

#tableData tbody tr td:nth-child(6), #tableData thead tr th:nth-child(6) {
    text-align: center;
}

#tableData tbody tr td:nth-child(6) {
    text-transform: uppercase;
    white-space: nowrap;
}

#tableData tbody tr td:nth-child(7), #tableData thead tr th:nth-child(7) {
    text-align: center;
}

#tableData tbody tr td:nth-child(3) {
    text-align: right;
}

#tableData thead tr th:nth-child(3) {
    text-align: right;
}

.priceBlink {
    animation-name: priceBlinkAnimation;
    animation-duration: 3s;
}

@keyframes priceBlinkAnimation {
    0% {
        background-color: #ffbd40;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    10% {
        background-color: white;
    }

    20% {
        background-color: #ffbd40;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    30% {
        background-color: white;
    }

    40% {
        background-color: #ffbd40;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    50% {
        background-color: white;
    }

    60% {
        background-color: #ffbd40;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    70% {
        background-color: white;
    }

    80% {
        background-color: #ffbd40;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    90% {
        background-color: white;
    }

    100% {
        background-color: #ffbd40;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
}

.fluid-item {
    width: 100%;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: var(--bs-breadcrumb-divider, "/");
}

.title-page {
    font-size: 20px !important;
    font-weight: 600 !important;
}

.section-title1 h2 {
    margin-top: 48px;
    margin-bottom: 24px;
}

.introduce-text {
    text-align: left;
    margin-bottom: 15px !important;
}

/*        .img-thumb {
    width: 100px !important;
}*/

.img-select {
    object-fit: cover;
    height: 100%;
    border-radius: 5px !important;
    /*            max-height: 600px;
                            min-height: 500px;*/
    /*border-radius: 5px !important;*/
}

/*        .inner-banner {
                            min-height: 280px;
                        }
                */
.item-buff {
    min-width: 45px;
    height: 46px;
    font-weight: 500;
    font-size: 20px;
    background: white;
    border: 1px solid #E0E0E0;
}

/* .bid-form {
    display: none;
} */

/* .div-knockout-time, #knockout-guide {
    display: none;
} */

@media (max-width: 991px) {
    .mobile-menu-form#loginMobile {
        margin: 0 !important;
    }
}
.bx-plus.active::before {
    content: "\edee";
}
.bx-caret-down.active:before {
    content: "\ec95";
}
#search-clear {
    display: none;
}

.dropdown-content a {
    cursor: pointer;
}

.auction-content .ellipsis2 {
    min-height: 50.28px;
}

#loginModal .modal-body {
    padding: 0;
}

.loginLogoContainer {
    width: 100%;
    margin: 0;
    padding: 0;
}

.loginLogo {
    margin: 10px auto;
    display: block;
    width: 50%;
    height: auto;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #b41712 !important;
    border: unset;
    background-color: #fff;
    border-bottom-color: transparent;
    cursor: default !important;
    border-bottom: solid 3px #b41712;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 20px 50px 10px;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border-radius: 4px 4px 0 0;
}

#closeLoginModalContainer {
    position: absolute;
    right: 0;
}

#navTabs {
    margin-bottom: 30px;
}

#btnCloseLoginModal {
    color: #b41712;
    font-size: 1.5em;
}

#server-time-clock {
    padding-right: 30px;
    white-space: nowrap;
    font-size: 12px;
    color: #1f2230;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: var(--bs-font-sans-serif);
}

#timeHeader, #time-part1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 22px;
}

@media (min-width:320px) and (max-width: 991px) {
    #server-time-clock {
        padding-right: 0;
        padding-left: 0;
        white-space: nowrap;
    }
}

@media (min-width:1023px) and (max-width: 1199px) {
    header.style-3 .main-menu .menu-list > li {
        margin: 0 7px !important;
    }

        header.style-3 .main-menu .menu-list > li a {
            font-size: 14px !important;
        }

        header.style-3 .main-menu .menu-list > li.menu-item-has-children {
            padding-right: 15px !important;
        }

    header.style-3 .header-logo img {
        max-width: 120px !important;
        height: auto !important;
    }

    #server-time-clock {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 10px;
    }

    #timeHeader, #time-part1 {
        font-size: 20px;
    }

    .category-prev1 {
        left: -20px;
    }

    .category-next1 {
        right: -20px;
    }
}

.swal2-styled:focus {
    box-shadow: unset !important;
}

.dropbtn {
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 5px 15px;
        text-decoration: none;
        display: block;
        font-family: inter, sans-serif;
        font-size: 16px;
        white-space: nowrap;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #1f2230;
}

.select2-container {
    width: 100% !important;
}

.scroll-down-header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: #fff;
    transition: .2s ease;
    box-shadow: 5px 3px 40px rgba(0,72,88,.1);
    /*        -webkit-animation: smooth-header .65s linear;
    animation: smooth-header .65s linear;*/
}

header.style-3 {
    padding-left: 12px;
    padding-right: 12px;
}

.auction-info-content-tab-list-null {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    width: 100%;
    height: auto;
    display: flex;
}

.auction-info-content-tab-list-null-image {
    position: static;
    width: 148px;
    height: 105px;
    left: 64px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 12px auto;
}

@media screen and (max-width: 768px){
    #page-name {
        font-size: 28px;
    }
    .breadcrumb .breadcrumb-item {
        font-size: 16px;
    }

    .inner-banner {
        min-height: 120px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
.inner-banner {
    background-color: white;
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
}
.inner-banner::after {
/*        content: url('/LVT/assets/images/bg/inner-bg2.png') !important;*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.inner-banner::before {
/*        background-image: url('/LVT/assets/images/bg/trongdongds.png') !important;*/
    background-repeat: no-repeat;
    background-position: 88%;
    background-size: 28%;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0 !important;
    z-index: -1;
}
.current-page {
    font-family: saira, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #121212;
    margin: 0;
}
.link-redirect {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #787878;
    margin-bottom: 0;
    margin-top: 18px;
}
.inner-banner {
    padding-top: 32px;
    padding-bottom: 26px;
    min-height: unset;
}

.page-des {
    font-weight: bold;
}
.inner-banner-title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    color: #121212;
    margin-bottom: 0;
}
.breadcrumb .breadcrumb-item {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
color: #787878;
}
.breadcrumb .breadcrumb-item.active {
        color: #787878;
}

@media screen and (max-width: 768px) {
    #banner-new {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        background-image: unset !important;
    }

    .link-redirect {
        margin-top: 4px;
    }

    .current-page {
        font-size: 16px !important;
        line-height: 28px !important;
    }
}

.gallery-photo-mobile {
    display: none;
    margin-bottom: 15px;
}

.item-fade {
    display: none;
}

.active {
    display: block;
}

.notification {
    position: fixed;
    bottom: 0.5rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #333;
    overflow-x: hidden;
    padding: 0.25rem;
}
.message--danger {
    border-left-color: #e99090;
}
.notification__message {
    display: grid;
    grid-gap: 0.2rem;
    grid-template-columns: 1fr auto;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px hsla(0,0%,0%,.1), 0 2px 3px hsla(0,0%,0%,.1);
    border-left: 0.8rem solid #fff;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    transition-property: transform,opacity,visibility;
    transition-duration: .7s;
    transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}
    .notification__message h1 {
        font-size: 2rem;
        font-weight: 500;
        text-transform: capitalize;
    }
    .notification__message p {
        max-width: 320px;
        font-size: 1.3rem;
        grid-column: 1/-1;
        line-height: 17px;
    }
    .notification__message button {
        background: 0 0;
        border: none;
        color: inherit;
        width: 30px;
        height: 20px;
        grid-column: 2/3;
        grid-row: 1/2;
        align-self: center;
    }
        .notification__message button svg {
            display: block;
            width: 100%;
            height: 100%;
        }
p.copyright {
    padding: 3px 0;
}

.copyrightsNotice{
    line-height:24px;
}

#notificationForm {
    z-index: 10;
}
@media (max-width: 375px) {
    .col-md-8.left.mb365 {
        width: 101% !important;
        padding-left: 0 !important;
    }
}
.app-download {
    margin: 10px 10px 0px 0px;
    border-radius: 5px;
}
@media (max-width: 320px) {
    .app-download {
        width:45%;
    }
}
.notification {
    bottom: 2rem;
    right: unset;
    left: 0;
}

footer.style-3 {
    background-image: url("/lVT/assets/images/footer-banner.png");
    background-color: #121212;
    background-repeat: no-repeat;
    background-position: right bottom;
}

@media screen and (max-width: 768px) {
    footer.style-3 {
        background-image: unset !important;
    }
}

#loader {
    display: none;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background: #000;
    opacity: 0.7;
    text-align: center;
    vertical-align: middle;
    top: 0;
    left: 0;
    z-index: 99999999 !important;
}

#loaderContent {
    position: fixed;
    height: 100%;
    width: 100%;
    padding-top: calc(50vh - 90px);
}

#loaderImage {
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block
}

#loaderText {
    color: #fff;
    letter-spacing: 10px;
    margin-top: 15px;
    font-weight: bold;
}

.footer-button-container {
    position: fixed;
    display: inline-flex;
    flex-direction: column;
    visibility: visible;
    text-align: right;
    right: 25px;
    bottom: 20px;
    gap: 15px;
    z-index: 999;
}

#back-to-top {
    display: inline-block;
    background-color: #b41712;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    /*position: fixed;*/
    bottom: 30px;
    right: 35px;
    transition: background-color .1s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

    #back-to-top::after {
        content: "\f077";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 2em;
        line-height: 50px;
        color: #fff;
    }

    #back-to-top:hover {
        cursor: pointer;
        background-color: #333;
    }

    #back-to-top:active {
        background-color: #555;
    }

    #back-to-top.show {
        opacity: 1;
        visibility: visible;
        display: inline-block !important;
    }

    #back-to-top.none {
        opacity: 0;
        display: none !important;
    }

.zalo-chat-widget {
    width: 50px !important;
    height: 50px !important;
    bottom: 75px !important;
    right: 20px !important;
}

.zalo-chat-widget.zalo-back-bottom {
    bottom: 20px !important;
    right: 20px !important;
    transition: background-color .3s, opacity .5s, visibility .5s;
    animation-name: zaloopacity;
    animation-duration: .5s;
}

@keyframes zaloopacity {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.4;
    }

    75% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}


@media (max-width: 1024px) {
    .zalo-chat-widget {
        right: 10px !important;
        bottom: 75px !important;

    }
    .footer-button-container {
        right: 15px;
        bottom: 15px;

    }
    .zalo-chat-widget.zalo-back-bottom {
        right: 10px !important;
    }
}



