.bid_countdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

  }
  .bid_countdown .day, .bid_countdown .hour, .bid_countdown .min, .bid_countdown .sec {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .bid_countdown .day , .bid_countdown .hour , .bid_countdown .min , .bid_countdown .sec  {
    display: block;
    font-size: 30px;
  }
  .bid_countdown .day .word, .bid_countdown .hour .word, .bid_countdown .min .word, .bid_countdown .sec .word {
    display: block;
    font-size: 20px;
  }