.countdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

  }
  .countdown .day, .countdown .hour, .countdown .min, .countdown .sec {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .countdown .day , .countdown .hour , .countdown .min , .countdown .sec  {
    display: block;
    font-size: 30px;
  }
  .countdown .day .word, .countdown .hour .word, .countdown .min .word, .countdown .sec .word {
    display: block;
    font-size: 20px;
  }