*, ::after, ::before {
    box-sizing: border-box;
}
#banner-new{
    padding-top: 32px;
    padding-bottom: 26px;
    border-bottom: 1px solid #E0E0E0;
    background-image: none;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.current-page{
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #121212;
    margin: 0;
}

.link-redirect {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #787878;
    margin-bottom: 0;
    margin-top: 18px;
}

a {
    color: unset;
    text-decoration: none;
}

.page-des {
    font-weight: bold;
}

.high-padding {
    padding-top: 15px;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}

.blog-widget-item {
    background: #fff;
    box-shadow: 5px 2px 30px rgba(0,0,0,.06);
    border-radius: 5px;
    padding: 30px 20px;
    margin-bottom: 40px;
}

.sidebar-content .widget {
    float: left;
    width: 100%;
}

aside {
    display: block;
}

.sidebar-widget-title {
    margin-bottom: 25px;
}

.sidebar-widget-title h4 {
    font-size: 25px;
    font-weight: 600;
}

.sidebar-widget-title span.hight-light {
    width: 50px;
    height: 3px;
    background: #b41712;
    border-radius: 5px;
    display: block;
    position: relative;
    margin-top: 5px;
}

form {
    display: block;
    margin-top: 0em;
}

.filter-search input {
    width: 100%;
    border: 1px solid #e5ecef;
    border-radius: 4px;
    padding: 10px 20px;
    margin-bottom: 20px !important;
}

label {
    display: inline-block;
}

.datepicker {
    border-radius: 4px;
    direction: ltr;
}

svg:not(:host).svg-inline--fa, svg:not(:root).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
}

.svg-inline--fa {
    display: var(--fa-display,inline-block);
    height: 1em;
    vertical-align: -0.125em;
}

:not(svg) {
    transform-origin: 0px 0px;
}

#fromDate input, #toDate input {
    font-size: 14px !important;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
}

body div .button[type=submit], body div .button[type=button] {
    border-radius: 0.25rem !important;
}

body .button[type=submit], body .button[type=button] {
    border-color: #b41712;
    background: #b41712;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all 250ms ease-in-out 0s;
    font-size: 100%;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    padding: 0.618em 1em;
    font-weight: 700;
    left: auto;
    border: 0;
    display: inline-block;
    box-shadow: none;
    text-shadow: none;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

.blog-widget-item {
    background: #fff;
    box-shadow: 5px 2px 30px rgba(0,0,0,.06);
    border-radius: 5px;
    padding: 30px 20px;
    margin-bottom: 40px;
}

.sidebar-widget-title {
    margin-bottom: 25px;
}

.sidebar-widget-title span.hight-light {
    width: 50px;
    height: 3px;
    background: #b41712;
    border-radius: 5px;
    display: block;
    position: relative;
    margin-top: 5px;
}

.containercheckbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.containercheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.containercheckbox input:checked ~ .checkmark {
    background-color: #b41712;
}

.checkmark {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 0px;
    top: 1px;
    border-radius: 2px;
    background-color: transparent;
    border: 1px solid #E0E0E0;
}

.mb-60 {
    margin-bottom: 60px;
}

.d-flex {
    display: flex!important;
}

.g-4, .gy-4 {
    --bs-gutter-y: 1.5rem;
}

.auction-card1.animate-up {
    animation-duration: 1.5s;
    animation-name: fadeInUp;
}

.eg-card-row {
    flex-direction: row !important;
}
.auction-card1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    box-shadow: 5px 2px 30px rgba(0,0,0,.06);
    border-radius: 5px;
}

.eg-card {
    border: 1px solid #eee;
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
}

.auction-card1 .auction-img {
    position: relative;
    overflow: hidden;
}

a {
    color: unset;
    text-decoration: none;
}

.auction-card1 .auction-img img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    transition: all .65s ease;
}

.auction-img-background {
    max-height: 228px;
    min-height: 200px;
    object-fit: cover;
    margin-left: -20px;
}

img, svg {
    vertical-align: middle;
}

.auction-card1 .auction-img .auction-timer {
    box-shadow: 5px 2px 30px rgb(0 0 0 / 6%);
}

.auction-card1 .auction-img .auction-timer {
    border-radius: 30px;
    padding: 8px 20px;
    text-align: center;
    position: absolute;
    left: 44%;
    transform: translateX(-50%);
    bottom: 20px;
    background: #fff;
    min-width: 230px;
}


.auction-card1 .author-area {
    position: absolute;
    top: 30px;
    left: 30px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
}

.auction-card1 .auction-content {
    padding: 30px 20px;
}

.auction-card1 .auction-content h4 {
    font-size: 16px;
    font-weight: 600;
    color: #1f2230;
    line-height: 1.4;
    margin-top: -5px;
}

h4 {
    display: contents;
    font-family: 'Montserrat', sans-serif !important;
}

.auction-card1 .auction-content p {
    font-size: 14px;
    font-weight: 500;
    color: #696969;
}
p {
    margin-top: 0;
    margin-bottom: 0.2rem;
    font-family: Montserrat,sans-serif;
}

.auction-card1 .auction-content p span {
    font-size: 14px;
    font-weight: 700;
    font-family: Montserrat,sans-serif;
}

.auction-waiting {
    color: #ffc107 !important;
}

.auction-loading {
    color: #4caf50 !important;
}

.auction-done-success {
    color: #F71F1F !important;
}

.auction-card1 .auction-card-bttm {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
}

.eg-btn {
    font-family: 'Montserrat', sans-serif !important;
}

.btn--sm {
    font-size: 16px;
    font-weight: 600;
    padding: 5px 12px;
}
.btn--primary {
    background: #1f2230;
    color: #fff;
    position: relative;
    z-index: 1;
    white-space: nowrap;
}
.eg-btn {
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    transition: all .4s ease;
    text-transform: capitalize;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.auction-card1 .auction-content p span {
    font-size: 14px;
    font-weight: 700;
}

.countdown{
    display: inline-block;
    text-align: center;
}

.btn--primary::after {
    width: 100%;
    height: 100%;
    content: "";
    margin: auto;
    position: absolute;
    top: 0%;
    left: 0%;
    background: #b41712;
    transition: all .52s;
    z-index: -1;
    border-radius: 5px
}

.btn--primary:hover {
    color: #fff
}

.btn--primary:hover::before {
    transform: rotateX(90deg)
}

.btn--primary:hover::after {
    transform: rotateY(90deg)
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}


*, ::after, ::before {
    box-sizing: border-box;
}


.justify-content-center {
    justify-content: center!important;
}


.pagination-wrap {
    display: flex;
    justify-content: center;
}

.pagination-wrap .page-item.active .page-link {
    z-index: 3;
    color: #b41712!important;
    background-color: #fff!important;
    border-color: #b41712
}

.pagination-wrap .pagination {
    margin: 0;
    flex-wrap: wrap;
}

.pagination-wrap .pagination.style-two .page-link {
    position: relative;
    display: block;
    color: #1f2230;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 2px;
    transition: .42s ease;
    padding: 10px
}

.pagination-wrap .pagination.style-two .page-link:focus {
    color: #b41712;
    border-color: #b41712;
    background-color: #fff
}

.pagination-wrap .pagination.style-two .page-link:hover {
    color: #b41712;
    border-color: #b41712
}

.pagination-wrap .page-item:first-child .page-link {
    border-radius: 2px
}

.pagination-wrap .page-item:last-child .page-link {
    border-radius: 2px
}

.pagination-wrap .page-link {
    position: relative;
    display: block;
    color: #1f2230;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 8px 8px 2px 8px !important;
    transition: .42s ease
}

.pagination-wrap .page-link:focus {
    box-shadow: unset;
    color: #fff;
    background-color: #b41712;
    border-color: #b41712
}

.pagination-wrap .page-link:hover {
    color: #fff;
    background-color: #b41712;
    border-color: #b41712
}

.pagination-wrap .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #b41712;
    border-color: #b41712
}

.page-item:not(:first-child) .page-link {
    margin-left: -1px
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6
}

.page-link {
    padding: .375rem .75rem
}

.page-item:first-child .page-link {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.page-item:last-child .page-link {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem
}

.page-link {
    position: relative;
    display: block;
    color: #0d6efd;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.page-link:hover {
    z-index: 2;
    color: #0a58ca;
    background-color: #e9ecef;
    border-color: #dee2e6
}

.page-link:focus {
    z-index: 3;
    color: #0a58ca;
    background-color: #e9ecef;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25)
}

.pagination .page-item {
    text-align: center;
}


.containercheckbox input:checked ~ .checkmark:after {
    display: block;
}
.containercheckbox .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.checkmark:after {
    content: "";
    position: absolute;
}