.container {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    box-sizing: inherit;
    line-height: 1.5;
    font-family: Montserrat,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

:after, :before {
    box-sizing: inherit;
}

div {
    display: block;
}

.g-4 {
    --bs-gutter-y: 1.5rem;
    --bs-gutter-x: 1.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
    font-family: Montserrat,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.gap-4 {
    gap: 1.5rem!important;
}

.flex-column {
    flex-direction: column!important;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: #b41712;
}

.nav-pills .nav-link {
    background: 0 0;
    border: 0;
    border-radius: 0.25rem;
}

[type=button]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

[type=button], button {
    -webkit-appearance: button;
}

.nav-btn-style {
    box-shadow: 5px 2px 30px rgba(0,0,0,.06);
    width: 100%;
    min-width: 0;
    font-size: 20px;
    font-weight: 500;
    font-family: Montserrat,sans-serif;
    padding: 10px 20px;
    text-align: left;
    transition: all .42s ease;
}
.mx-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}
.nav-link {
    display: block;
    text-decoration: none;
}

button {
    text-transform: none;
    overflow: visible;
    font: inherit;
    margin: 0;
}

.nav-pills .nav-link.active svg {
    fill: #fff;
}

.nav-btn-style svg {
    margin-right: 10px;
    transition: all .42s ease;
}
svg {
    vertical-align: middle;
    width: 22;
    height: 22;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.nav-pills .nav-link.active{
    color: #fff;
}

.dashboard-section .nav-pills .nav-link {
    background-color: #fff;
}

.nav-pills .nav-link {
    background: 0 0;
    border: 0;
    border-radius: 0.25rem;
}

.mx-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}

.nav-btn-style svg {
    margin-right: 10px;
    fill: #696969;
    transition: all .42s ease
}

.nav-btn-style:hover {
    background-color: #b41712;
    color: #fff
}

.nav-btn-style:hover svg {
    fill: #fff
}

svg {
    vertical-align: middle
}

button {
    text-transform: none;
}

.fade {
    transition: opacity .15s linear;
}

.dashboard-profile {
    box-shadow: 5px 2px 30px rgba(0,0,0,.06);
    border-radius: 10px;
    background-color: #fff;
    font-family: Montserrat,sans-serif;
}

.dashboard-profile .form-wrapper {
    box-shadow: unset;
}

.form-wrapper {
    border-radius: 5px;
    background: #fff;
}

.row.layout:first-child {
    border-top: 1px solid #eee;
}

.row.layout {
    border: 1px solid #eee;
    padding-top: 25px;
    padding-bottom: 25px;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}

.personal-info {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

h2 {
    font-size: 30px;
    font-weight: 400;
    margin: 10px 0;
    font-family: 'Montserrat', sans-serif !important;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.button-group .profile-btn {
    border-radius: 30px;
    outline: none;
    padding: 13px 20px;
    background-color: #b41712;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    transition: all .42s ease-in-out;
    border: 1px solid #b41712;
    margin-right: 20px;
    text-align: center;
}

.eg-btn {
    font-family: 'Montserrat', sans-serif !important;
    display: inline-block;
    text-decoration: none;
}

.form-wrapper .form-inner {
    margin-bottom: 18px;
    position: relative;
}

.form-wrapper input {
    border: 1px solid #eee;
    height: 50px;
    width: 100%;
    padding: 10px 20px;
    transition: .4s ease;
}

.datepicker {
    -moz-border-radius: 4px;
    border-radius: 4px;
    direction: ltr;
}

input {
    overflow: visible;
    font: inherit;
    margin: 0;
}

.tab-content img {
    width: 100%;
    border-radius: 0 0 5px 5px;
}

img {
    vertical-align: middle;
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}

input:focus ~ .label-form, input:valid ~ .label-form {
    top: -10px;
    left: 15px;
    background-color: #fff;
    padding: 0 3px 0 3px;
    font-style: normal;
    line-height: 18px;
}

.label-form {
    position: absolute;
    pointer-events: none;
    transition: 0.2s;
    font-weight: 400 !important;
    color: #BFBFBF !important;
    display: inline-block;
    max-width: 100%;
    font-size: 14px !important;
    font-family: var(--bs-font-sans-serif) !important;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.form-control {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, select {
    text-transform: none;
    font: inherit;
    margin: 0;
}

option:disabled {
    color: -internal-light-dark(graytext, rgb(170, 170, 170));
}

option {
    font-weight: normal;
    display: block;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.select2-container {
    width: 100% !important;
    
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

 select:valid ~ .label-form {
    top: -10px;
    left: 24px;
    background-color: #fff;
    padding: 0 3px 0 3px;
    font-style: normal;
    line-height: 18px;
}

.form-wrapper label {
    margin-bottom: 12px;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #eee !important;
    height: 50px !important;
    width: 100% !important;
    padding: 10px 20px !important;
    transition: .4s ease !important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border-radius: 4px;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select2{
    display: block;
    padding: 10px 20px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

button-group .profile-btn:hover {
    background-color: #fff;
    color: #b41712
}

button-group .cancel-btn {
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 13px 30px;
    color: #1f2230;
    background-color: #fff;
    border: 1px solid #eee;
    transition: all .42s ease-in-out;
    text-align: center
}

.button-group .cancel-btn:hover {
    background-color: #b41712;
    color: #fff;
    border: 1px solid #b41712
}

.button-group .profile-btn {
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 13px 20px;
    background-color: #b41712;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: Montserrat,sans-serif;
    transition: all .42s ease-in-out;
    border: 1px solid #b41712;
    margin-right: 20px;
    text-align: center
}

.button-group .profile-btn:hover {
    background-color: #fff;
    color: #b41712
}

.form-wrapper input:focus,.form-wrapper textarea:focus {
    border: 1px solid #b41712;
    border-radius: 5px
}