.register_countdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

  }
  .register_countdown .day, .register_countdown .hour, .register_countdown .min, .register_countdown .sec {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .register_countdown .day , .register_countdown .hour , .register_countdown .min , .register_countdown .sec  {
    display: block;
    font-size: 30px;
  }
  .register_countdown .day .word, .register_countdown .hour .word, .register_countdown .min .word, .register_countdown .sec .word {
    display: block;
    font-size: 20px;
  }